.auth-bg {
  background: #f8f9fa; /* Light gray background */
  min-height: 100vh; /* Full viewport height */
  font-family: 'Inter', Arial, sans-serif;
}
.card {
  border-radius: 1rem;
  background: #fff;
}

.password-toggle-icon {
  position: absolute;
  top: 70%; /* Adjust for vertical alignment with the input */
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d; /* A neutral gray color */
  z-index: 100;
}

.password-toggle-icon:hover {
  color: #212529; /* Darken on hover */
}
